.card img {
    max-height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
  